<!-- <kroger-ng-oauth2 [config]="authConfig"></kroger-ng-oauth2> -->

<header id="kr-header">
    <div id="headerWrapper">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="kroger_logo" ui-sref="home"></div>
        <div id="innerWrap">
              <p>ng</p>
        </div>
        <div class="logBox">
            <p *ngIf="isAuthenticated">Welcome, {{ this.currentUser.fullName }} | <a (click)="doLogout()" style="cursor: pointer;">Sign Out</a></p>
            <p *ngIf="!isAuthenticated"> <a (click)="doLogin()" style="cursor: pointer;">Sign In</a> </p>
        </div>
    </div>
    <app-navbar id="kr-navbar"></app-navbar>
</header>