<kroger-ng-oauth2 [config]="authConfig"></kroger-ng-oauth2>
<!-- <ng-container *ngIf="authService.getUser()"> -->
    
    <!-- <mx-nav nav-title="User Profile" [menuData]="menuData" (logoClick)="logoClick()" (titleClick)="titleClick()" (menuItemClick)="menuItemClick($event)">
    </mx-nav> -->
    <!-- <ngpp-user-profile-tab>
    
        
    </ngpp-user-profile-tab> -->
    <router-outlet></router-outlet>
    <!-- <kds-toast-controller  id="user-profile-toast-controller"></kds-toast-controller> -->
<!-- </ng-container> -->
