.columnFilter kds-input {
    display: inline-block;
    width: calc(100% - 2rem);
}

.columnFilter kds-select {
    display: inline-block;
    width: calc(100% - 2rem);
}

.container {
    margin-bottom: 100px;
}

.pageHeader h1 {
    font-family: 'Roboto Regular';
    font-size: 1.25rem;
    color: #1D1E1F;
    width: auto !important;
    display: inline-block !important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: inherit !important;
}

body .ui-toolbar button {
    margin-right: .25em;
}

body .ui-toolbar {
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-header {
    background: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
}

.ui-toolbar-separator {
    font-style: normal;
    font-size: 1.25rem;
    color: #ccc;
    font-weight: 100;
    opacity: .7;
}