<div class="container cf">
  <div class="page-header">
    <h1>Cars Listing page <small>Subtext for greater value</small></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ers-paginator class="paginator-top" [itemsPerPage]="paginatorOptions.itemsPerPage" [totalItems]="(page | async)?.data.cars.length"
        [itemsPerPageList]="paginatorOptions.itemsPerPageList" (pageChanged)="_handlePageChange($event)"
        [displayTotalItems]="true" [displayItemsPerPage]="true">
      </ers-paginator>
      <p-table #dt [value]="(page | async)?.data.cars" [rows]="paginatorOptions.itemsPerPage" [paginator]="true" [first]="first"
	  (onSort)="_sortHandler($event)">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'name'">
              Make
              <kds-icon-sort *ngIf="!_isFieldSorted('name')"></kds-icon-sort>
              <kds-icon-up-arrow *ngIf="_isFieldSorted('name') && _isAscendingSortOrder('name')"></kds-icon-up-arrow>
              <kds-icon-down-arrow *ngIf="_isFieldSorted('name') && !_isAscendingSortOrder('name')">
              </kds-icon-down-arrow>
            </th>
            <th [pSortableColumn]="'milesPerGallon'">Model<kds-icon-sort></kds-icon-sort>
            </th>
            <th [pSortableColumn]="'cylinders'">Color<kds-icon-sort></kds-icon-sort>
            </th>
            <th [pSortableColumn]="'year'">Year<kds-icon-sort></kds-icon-sort>
            </th>
            <th [pSortableColumn]="'origin'">VIN<kds-icon-sort></kds-icon-sort>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr class="ers-data-row">
            <td>{{car['make']}}</td>
            <td>{{car['model']}}</td>
            <td>{{car['color']}}</td>
            <td>{{car['year']}}</td>
            <td>{{car['vin']}}</td>
          </tr>
        </ng-template>
      </p-table>
      <ers-paginator class="paginator-bottom" [itemsPerPageDropdown]="paginatorOptions.itemsPerPageDropdown"
        [itemsPerPage]="paginatorOptions.itemsPerPage" [totalItems]="(page | async)?.data.cars.length"
        [itemsPerPageList]="paginatorOptions.itemsPerPageList" (pageChanged)="_handlePageChange($event)"
        [displayTotalItems]="true" [displayItemsPerPage]="true">
      </ers-paginator>
    </div>
  </div>
